:root {
    font-size: 100%;
    --primary-color: #fec107;
    --secondary-color: #3f3d55;
}

html,
body {
    font-family: 'Lato', sans-serif;
    background: url('../img/hero.png');
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* header styles */
.head-wrapper {
    display: flex;
    justify-content: center;
}

.head-content {
    display: flex;
    justify-content: center;
    padding: 4px 35px 2px 35px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    background: #fff;
    color: var(--secondary-color);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.heading-ctn {
    font-family: 'Comfortaa', cursive;
    font-size: 1.15rem;
    letter-spacing: 0.05em;
    font-weight: 200;
    margin: 80px 0 0 11%;
    color: #3f3d55;
}

/* login/registration styles */
.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 0 10%;
}

.form-wrap {
    background: #fff;
    padding: 25px 30px;
    box-shadow: 15px 5px 20px rgba(0, 0, 0, 0.075), 15px 10px 20px rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    text-align: center;
    width: 450px;
    margin: 0 20px;
}

.form-wrap > h2 {
    font-size: 1.3rem;
    color: var(--secondary-color);
    font-family: 'Josefin Sans', sans-serif;
}

.form-style {
    display: flex;
    flex-direction: column;
}

.form-style > input {
    border: 0;
    border-bottom: 1.4px solid #d1d1d1;
    outline: none;
    margin: 20px 0;
    padding: 6px 5px;
}

.form-style > input:focus {
    border-bottom: 1.4px solid var(--primary-color);
}

.form-style > button {
    color: #fff;
    font-size: 1.03em;
    background: var(--secondary-color);
    border: 0;
    margin: 10px 0 20px 0;
    padding: 8px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.form-style > button:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.form-style > button:focus {
    outline: none;
}

.form-wrap > div {
    text-align: right;
}

.form-wrap > div > a {
    margin: 0 0 0 6px;
    text-decoration: none;
}

.form-wrap > div > a:focus {
    outline: none;
}

.form-wrap > div > a:hover {
    border-bottom: 1px solid var(--secondary-color);
    padding: 0 0 5px 0;
}

/* blog page styles */
.blog-head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px 0 15px 0;
}

.blog-head-content > h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    margin: 0 0 0 20px;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
}

.blog-head-content > a {
    text-decoration: none;
    background: #d0cde0;
    color: #000;
    padding: 8px 15px;
    border-radius: 6px;
    margin: 0 20px 0 0;
}

.blog-head-content > a:hover {
    background: #dad7eb;
}

.post-list {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.post {
    background: #fff;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 0 1 300px;
    height: fit-content;
}

.post-content {
    word-break: break-all;
}

.post-title {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 0 10px 0;
}

.post-date {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    color: var(--primary-color);
    margin: 10px 0 0 0;
}

/* toggle post modal */
.toggle-post {
    position: fixed;
    right: 25px;
    bottom: 35px;
    border: 0;
    background: var(--secondary-color);
    color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 15px 23px 16px 22px;
    cursor: pointer;
}

.toggle-post:hover {
    background: var(--primary-color);
    color: #fff;
}

.toggle-post:focus {
    outline: none;
}

.post-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(55, 53, 95, 0.5); */
    background: #d0cde0;
}

.hide {
    display: none;
}

.post-body {
    position: absolute;
    margin: auto;
    left: 20px;
    right: 20px;
    top: 0;
    bottom: 0;
    max-width: 800px;
    height: 475px;
    border-radius: 12px;
    background: #fff;
    padding: 20px;
}

.close-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.close-wrap > div {
    color: var(--secondary-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.close-wrap > button {
    border: 0;
    background: #fff;
    cursor: pointer;
}

.close-wrap > button:hover {
    color: #ee5271;
}

.close-wrap > button:focus {
    outline: none;
}

.close-wrap > button > i {
    color: #f0234c;
    font-size: 1.2rem;
}

.post-inputs {
    display: flex;
    flex-direction: column;
}

.create-post {
    color: #fff;
    font-size: 1.03em;
    background: var(--secondary-color);
    border: 0;
    margin: 30px 0 0 0;
    padding: 8px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.create-post:hover {
    background: var(--primary-color);
    color: #000;
}

.create-post:focus {
    outline: none;
}

.post-title-input {
    border: 0;
    border-bottom: 1.4px solid #d1d1d1;
    outline: none;
    padding: 6px 10px;
    margin: 0 0 20px 0;
}

.post-title-input:focus {
    border-bottom: 1px solid var(--primary-color);
}

.post-content-input {
    outline: none;
    border: 0;
    border: 1px solid #d1d1d1;
    padding: 10px;
}

.post-content-input:focus {
    border: 1px solid var(--primary-color);
}

/* error display */
.error-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-container > h1 {
    color: #fff;
    letter-spacing: 0.1rem;
}

.error-msg {
    color: #3f3d55;
    margin: 10px 0 0 15%;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

/* media queries */
@media (max-width: 1366px) {
    .heading-ctn {
        margin: 60px 0 0 10%;
        font-size: 1.05rem;
    }

    .main-wrapper {
        margin: 70px 0 0 0;
    }

    .error-msg {
        margin: 10px 8%;
    }
}

@media (max-width: 580px) {
    .head-content {
        padding: 4px 30px 2px 30px;
        font-size: 0.95rem;
    }

    .main-wrapper {
        margin: 40px 0 0 0;
    }

    .heading-ctn {
        font-size: 1rem;
        margin: 40px 0 0 10%;
        color: #3f3d55;
    }

    .post-list {
        padding: 10px;
        display: block;
    }

    .post {
        margin: 10px 10px 20px 10px;
    }

    .toggle-post {
        font-size: 1.4rem;
        padding: 14px 21px 16px 21px;
    }
}
